<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU2qWcDhZWj5fsfYuU56-FBsfU-VW_RbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1050026223783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffeeShopApp</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebasecoffeeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebasecoffeeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050026223783:ios:65a82e526f7cf5388e1382</string>
</dict>
</plist>